:root{
    --DmSerif:'DM Serif Display', serif;
    --OpenSans:'Open Sans', sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: #EFF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container{
    padding: 0 30px;
    margin: 0 auto;
}
/* Cards */
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
/* First Card */
.card{
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height:auto;
    border-radius: 14px;
    /* Logo */
    &__img{
        background: #BCD1FF;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:14px 0  0 14px;
    }
    &__logo{
        max-width: 100%;
        height: auto;
    }
    /* End of Logo */
    &__content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    /* header */
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }
    &__prod{
        color: #6E798C;
        font-family:var(--OpenSans);
        font-weight: 600;
        font-size: 20px;
    }
    &__time{
        color:#6E798C;
        font-family: var(--OpenSans);
        font-weight: 400;
        font-size: 18px;

    }
    /* End of Header */
    /* Main */
    &__main{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    &__title{
        color:#081F32;
        font-family: var(--DmSerif);
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 10px;

    }
    &__subtitle{
        color:#374A59;
        font-family: var(--OpenSans);
        font-weight: 400;
        font-size: 18px;

    }
    /* End of Main */
    /* Footer */
    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }
    &__person{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:  0 12px;
    }
    &__personLink{
        color: #007AE9;
        font-family: var(--OpenSans);
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }
    &__link{
        color: #007AE9;
        font-family: var(--OpenSans);
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        i{
            padding-left: 5px;
            font-size: 12px;
        }

    }
    /* End of Footer */
    /* End of First card */
}
/* End of Cards */


/* Responsive */
/* For Mobile */
@media only screen and (max-width:425px){
    .card{
        display: flex;
        flex-direction: column;
        &__content{
            padding: 12px;
        }
        &__img{
            width: 100%;
            border-radius: 14px 14px 0 0;
        }
        &__logo{
            width: 50%;
        }
        &__header{
            padding: 0 5px;
        }
        &__prod{
            font-size: 13px;
        }
        &__time{
            font-size: 13px;
        }
        &__main{
            padding: 5px;
        }
        &__title{
            font-size: 15px;
        }
        &__subtitle{
            font-size: 13px;
        }
        &__footer{
            padding:0 5px;
        }
        &__avatar{
            width: 15%;
        }
        &__personLink{
            font-size: 13px;
        }
        &__link{
            font-size: 13px;
            i{
                font-size: 13px;
            }
        }
    }
}
/* End for Mobile */
/* For Tablet */
@media only screen and (max-width:768px){
    .card__content{
        padding: 0 15px;
    }
    .card__footer{
        padding: 0 15px;
    }

}


